* {
  margin: 0px;
  padding: 0px;
}

#bkg-image {
  filter: blur(0.1rem);
  -webkit-filter: blur(0.1rem);
  background-image: url("/public/factory.jpg");
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.navBar {
  position: fixed;
  top: 0;
  width: 100%;
}

#avatar-view {
  border-radius: 100%;
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  overflow: hidden;
  border: 4px solid #444;
}

#robot-image {
  right: auto;
  height: 100%;
  width: auto;
}

.label-file {
  display: block;
  margin-top: 7%;
  margin-bottom: 1%;
}

.div-image {
  position: relative;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 3%;
  padding: 3%;
  width: 60%;
  background-color: #2499e3;
  border-radius: 2rem;
  transition: box-shadow 0.3s ease;
}

.div-image:hover {
  box-shadow: 0px 3px 0px #1a71a9;
}

.botton-text {
  text-align: center;
  color: white;
}

.input-avatar {
  position: absolute;
  right: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  opacity: 0;
}
